/* Общие переменные для темной и светлой темы */
:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
}

[data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
}

/* Общие стили */
* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

/* Контейнер формы контакта */
.contact-us-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
}

.contact-us-left-col {
    width: 45vw;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us-logo {
    width: 10rem;
    padding: 1.5rem;
}

.contact-us-right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
}

.contact-us-header, .contact-us-label, .contact-us-button, .contact-us-description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.contact-us-header {
    color: var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
}

.contact-us-paragraph {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
}

.contact-us-label, .contact-us-description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
}

.contact-us-form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
}

.contact-us-input, .contact-us-textarea, .contact-us-label {
    width: 40vw;
    display: block;
}

.contact-us-paragraph, .contact-us-input::placeholder, .contact-us-textarea::placeholder {
    font-family: 'Helvetica Neue', sans-serif;
}

.contact-us-input::placeholder, .contact-us-textarea::placeholder {
    color: var(--primary-color);
}

.contact-us-input, .contact-us-textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
}

.contact-us-textarea {
    resize: none;
}

.contact-us-button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.contact-us-input:hover, .contact-us-textarea:hover, .contact-us-button:hover {
    opacity: 0.5;
}

.contact-us-button:active {
    opacity: 0.8;
}

/* Переключатель темы */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
}

.contact-us-description {
    margin-left: 1.25rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.theme-switch-slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.theme-switch-slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
}

.theme-switch-input:checked + .theme-switch-slider {
    background-color: var(--button-color);
}

.theme-switch-input:checked + .theme-switch-slider:before {
    transform: translateX(26px);
}

.theme-switch-slider.round {
    border-radius: 34px;
}

.theme-switch-slider.round:before {
    border-radius: 50%;
}


.contact-us-error {
    color: #FFFFFF;
    background-color: #f87167; 
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.contact-us-success-msg {
    color: #FFFFFF;
    background-color: #4caf50; 
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.contact-us-success-msg {
    transition-delay: 5s;
}

/* Адаптивные стили */
@media only screen and (max-width: 950px) {
    .contact-us-logo {
        width: 8rem;
    }
    .contact-us-header {
        font-size: 1.75rem;
    }
    .contact-us-paragraph {
        font-size: 0.7rem;
    }
    .contact-us-input, .contact-us-textarea, .contact-us-button {
        font-size: 0.65rem;
    }
    .contact-us-description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
    }
    .contact-us-button {
        width: 7rem;
    }
    .theme-switch-wrapper {
        width: 120px;
    }
    .theme-switch {
        height: 28px;
        width: 50px;
    }
    .theme-switch-slider:before {
        background-color: #fff;
        bottom: 0.25rem;
        content: "";
        width: 20px;
        height: 20px;
        left: 0.25rem;
        position: absolute;
        transition: .4s;
    }
    .theme-switch-input:checked + .theme-switch-slider:before {
        transform: translateX(16px);
    }
    .theme-switch-slider.round {
        border-radius: 15px;
    }
    .theme-switch-slider.round:before {
        border-radius: 50%;
    }
}
