.lessonItem {
    color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #eee;
}

.content h1 {
    font-size: 24px;
    color: #eee;
}

.content p {
    font-size: 18px;
    color: #eee;
}

.main-content {
    display: flex;
    flex: 1; 
}

.sidebar {
    width: 250px;
    background-color: #222;
    border-right: 1px solid #ccc;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 18px;
    color: #FFFFFF; 
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul ul {
    padding-left: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
    transition: background-color 0.2s ease, border-radius 0.2s ease
}



.sidebar ul li a {
    color: #eee; 
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li:hover {
    background-color: #444; 
    border-radius: 4px; 
}


.addModuleIcon {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 150px;
}

.addModuleIcon svg:hover {
    opacity: 0.8;
}

.moduleHeader {
    color: #eee;
}